body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 80%;

}

h1 {
    position:relative;
    background-color:#FFCB9A;
    color:#2c3531;
    font-size: 3em;
    font-weight: bold;
    text-align:right;
    padding-right:1.5em;
    width: 20%;
    margin: 10% 1% 5% 80%;

}
#avatar {
    width:30%;
    margin:5% 2% 5% 2%;
    
}
myName {
    position:relative;
    color: white;
    font-size: 3em;
    font-weight: bold;
    bottom:1.5em;
}

lh {
    font-size: 2em;
}
ul {
    background-color:#116466;
    color:#D1E8E2;
    width:20%;
    margin: 2em 1em 2em 1em;

}
.thingsLike{
    background-color:#116466;
    color:#D1E8E2;
    display:block;
    font-size: 1em;
    
}
    
.thingsDo{
    background-color: white;
    color: #116466;
    font-size: 1em;
    margin: 1em 1em 2em 1em;
}

footer{
    margin:1.5em;
}
footer h2{
    font-size: 1.25em;
     color:#116466;
    padding:1em;

}

.links {
    font-weight:bold;
    color:#2c3531;
    padding-left:1em;
    display: inline;

}
.instagram {
    width:3%;
}
.linkedin {
    width:3%;
}
.facebook {
    width:3%;
}