html{
    background-image: url("background.jpg");
    height: 100%;   
}

body {
    
    margin: 2% 4% 2% 4%;
    border: 1px dashed;
    /* overflow:auto; */
    z-index:0;
}

#whitePage {
    background-color: white;
    margin: 2% auto 2% auto;
    z-index:1;
    padding: 4% 6% 4% 6%;
    width: 84%;   
}

#avatar {
    width:28%;
    margin:5% 1% 1% 6%;
    
    
}

myName {
    position: absolute;
    top: 38%;
    left: 33%;
    font: 3em bold;
    color: grey;
}

myLastName {
    position: absolute;
    top: 43%;
    left: 37%;
    font: 3em bold;
    color: grey; 
}
parallelogram {
    position: absolute;
    background-color: orange;
    margin: 4% 0% 1% 1%;
    padding: 0.25% 15% 0.25% 16.5%;
    width: 10%;
	height: 5%;
	transform: skew(-20deg);
    right:3%;
}
h1{
    position: absolute;
    margin: 4% 0% 1% 1%;
    padding: 0.25% 12% 0.25% 1%;
    right:18.5%;
    font-size: 2em;
}

#introduction {
    position: relative;
    bottom: 13em;
    left: 34em;
    width: 35%;
    color: rgb(59, 59, 59);
    font-size: 120%;
    border-bottom: 2px solid rgb(48,49,49);
    border-top: 2px solid rgb(48, 49, 49);
    margin: 1%;
    padding: 2% 4%;
}

ul{
    background-color: yellow;
    color:rgb(7, 8, 8);
    width:30%; 
    margin: 2em 1em 2em 1em;

}  

.heading{
    font: 150% bold;
    color: rgb(70, 69, 69);
}

.school {
    font: 120% bold;
    color: rgb (70 ,69, 69);
}

p.degree {
    font-size: 100%;
    font-style: italic;
    color: grey
}

.instagram {
    width:3%;
    z-index: 3;
    float:right;
  
}

.linkedin {
    width:3%;
    z-index: 3;
    float:right; 
}

.facebook {
    width:3%;
    z-index: 3;
    align-items: flex-end;
    float:right;
}

